html {
  margin: 0;
}

span {
  display: block;
}
.canvas {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}

.button {
  width: 100px;
  height: 100px;
  border: solid black 2px;
  display: inline-block;
  border-radius: 5%;
}

#maroon {
  background: rgb(141, 8, 8);
}

#brown {
  background: rgb(111, 88, 88);
}
#purple {
  background: rgb(143, 143, 239);
}
#yellow {
  background: rgb(234, 234, 153);
}
